
@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #c62828; /* Vermelho Tomate */
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.logo img:hover {
    transform: scale(1.1);
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 1.5rem;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: color 0.3s ease;
    position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

/*Pagina inicial*/

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('Imagens/Local.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.hero-content {
    max-width: 800px;
    padding: 0 2rem;
}

.hero-title {
    font-size: 4rem;
    margin-bottom: 1rem;
    color: #FFD700; /* Amarelo Dourado */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.hero-subtitle {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: #FFFFFF; /* Branco */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.btn {
    display: inline-block;
    background-color: #c62828; /* Vermelho Tomate */
    color: #fff;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn:hover {
    background-color: #a02020; /* A darker red for hover */
    transform: scale(1.05);
}

/*Cardapio*/

.Cardapio {
    text-align: center;
}

.cardapio-m {
    height: 100vh;
    width: 100vh;
    background-color: #92AAAD;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.card .product-image img {
    width: 100%;
}

.card {
    width: 65%;
    min-height: 350px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background-color: white;
    padding: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.product-infos {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-infos .name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
}

.product-infos .description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: #333;
}

.product-infos div {
    display: flex;
    width: 100%;
}

.product-infos div:last-child {
    justify-content: space-between;
}

.product-infos .weigth {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: #000000;
}

.product-infos .ingredients {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: #000000;
    background-color: transparent;
    border: 0;
    margin-left: 2px;
    text-decoration: underline;
    cursor: pointer;
}

.product-infos .call-to-action {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    border: 0;
    background-color: #28b128;
    padding: 5px 20px;
    border-radius: 35px;
    color: white;
    cursor: pointer;
    transition: all 3s;
}

.product-infos .call-to-action:hover {
    background-color: #1e7a1e; /* Darker green on hover */
}

.product-infos .price {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: #242424; /* Vermelho Tomate */
    padding: 5px 10px;
}

/*Contato*/

.contato {
    padding: 4rem 2rem;
    background-color: #f9f9f9;
    text-align: center;
}

.contact-in {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-map,
.contact-form {
    flex: 1 1 400px;
}

.contact-map iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-form h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #c62828;
}

.contact-form-txt,
.contact-form-txtarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.contact-form-txt:focus,
.contact-form-txtarea:focus {
    border-color: #c62828;
    outline: none;
}

.contact-form-txtarea {
    resize: vertical;
    height: 150px;
}

.contact-form-btn {
    background-color: #c62828;
    color: #fff;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form-btn:hover {
    background-color: #a02020;
}

.contact-info p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: #333;
}

.whatsapp-btn {
    display: inline-block;
    background-color: #25D366;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.whatsapp-btn:hover {
    background-color: #1EBE57;
    transform: scale(1.05);
}

.contact-details {
    margin-bottom: 1.5rem;
}

.contact-details h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #c62828;
}

.contact-details p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
}

.social-icons a {
    margin-right: 1rem;
    display: inline-block;
    transition: transform 0.3s ease;
}

.social-icons img {
    width: 30px;
    height: 30px;
}

.social-icons a:hover {
    transform: scale(1.2);
}

@media (max-width: 768px) {
    .contact-in {
        flex-direction: column;
    }
}

@media (min-width: 1920px) {
    .hero-content {
        max-width: 1200px;
    }

    .hero-title {
        font-size: 5rem;
    }

    .hero-subtitle {
        font-size: 2rem;
    }
}

@media (max-width: 768px) {
    .hero-title {
        font-size: 3rem;
    }

    .hero-subtitle {
        font-size: 1.2rem;
    }
}

.about {
    padding: 4rem 2rem;
    background-color: #f9f9f9;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.about-text {
    flex: 1;
    padding-right: 2rem;
}

.about-text h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #c62828;
}

.about-text p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
}

.about-image {
    flex: 1;
    text-align: center;
}

.about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
    }

    .about-text {
        padding-right: 0;
        margin-bottom: 2rem;
        text-align: center;
    }
}

.menu {
    padding: 4rem 2rem;
    text-align: center;
}

.menu-title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #c62828;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.menu-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.menu-item:hover {
    transform: translateY(-5px);
}

.menu-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.menu-item h3 {
    font-size: 1.5rem;
    margin: 1rem;
    color: #333;
}

.menu-item p {
    font-size: 1rem;
    margin: 0 1rem 1rem;
    color: #666;
}

.price {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    color: #c62828;
    margin: 1rem;
}

.btn-small {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}


/* Estilos para o menu mobile */
@media screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        top: 80px;
        right: -100%;
        width: 100%;
        height: 100vh;
        background-color: #c62828; /* Vermelho Tomate */
        flex-direction: column;
        align-items: center;
        transition: right 0.3s ease-in-out;
    }

    .nav-menu.active {
        right: 0;
    }

    .nav-item {
        margin: 2rem 0;
        opacity: 0;
    }

    .nav-menu.active .nav-item {
        animation: navLinkFade 0.5s ease forwards 0.2s;
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background: none;
        border: none;
        cursor: pointer;
        margin-left: 1rem;
    }

    .logo img {
     margin-left: -58px;
    }

    .icon {
        margin-left: 145px;
    }
}
